.movie-container{
    position: relative;
    background-color: lightblue;
    height: 500px;
    cursor: pointer;
    img{
        width: 100%;
        height: 300px;
    }
    .article-header{
        position: relative;
        height: 50px;
        background-color: black;
        h1{
            font-size: 14px;
            line-height: 50px;
            text-align: center;
            color: white;
          text-overflow: ellipsis;
        }
    }
    span{
          text-overflow: ellipsis;
    }
}